# Used by docker-compose.yml (the real .env will be created on the server)
# In CI/CD, we'll set IMAGE_TAG to the Git SHA, so ther server pulls the exact build that passed tests.
GH_OWNER=alantico98
GH_REPO=git@github.com:alantico98/Assignment6_CI-CD-and-Testing.git
IMAGE_TAG=latest